{% if not is_pjax %}
    <!DOCTYPE html>
    <html DIR="{{ _LANG.rtl }}" lang="{{ _LANG.code }}" xmlns="https://www.w3.org/1999/xhtml" />
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                    {% helper seo.seo_tags('robots') %}

                    <base href="{{ site_root }}" />

                    {% helper start.favicon({'type': 'user'}) %}

                                    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet"> 
                                        <link rel="stylesheet" href="{{ site_root }}uploads/themes-fixed/arundiana/styles/bootstrap-{{ _LANG.rtl }}.css" type="text/css" />
                                        <link rel="stylesheet" href="{{ site_root }}uploads/themes-fixed/arundiana/styles/font-awesome.css" type="text/css" />
                                        <link rel="stylesheet" href="{{ site_root }}application/views/flatty/css/fontawesome-5.0.11/css/fontawesome-all.min.css" type="text/css" /> 
                                        {% helper theme.include_css('style', 'screen') %}
                                        {% helper theme.css(load_type) %}
                                        <link rel="stylesheet" href="{{ site_root }}uploads/themes-fixed/arundiana/styles/style-{{ _LANG.rtl }}.css" type="text/css" />
                                        
                                        <style>
                                            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
                                                body.index-arundiana  {
                                                    /* fix ie links margin on hover */
                                                    font-family: Arial, sans-serif;
                                                }

                                                .index-arundiana .list-inline li {

                                                    padding-right: 20px;
                                                    float: left;
                                                    height: 30px;

                                                }
                                                .index-arundiana .list-inline li:last-child {

                                                    padding-top: 5px;

                                                }
                                                .index-arundiana .navbar-right li{
                                                    padding-top: 5px;

                                                }

                                            }
                                        </style>

                                    {% endif %}

                                    {% helper seo.seo_tags('title') %}
                                    {% helper seo.seo_tags('description|keyword|canonical|og_title|og_type|og_url|og_image|og_site_name|og_description') %}

                                    <script>
            var site_rtl_settings = '{{ _LANG.rtl }}';
            var is_pjax = parseInt('{{ is_pjax }}');
            var js_events
            = {% helper json.json_encode(js_events) %};
                    var id_user = {% if user_session_data.user_id %}{{ user_session_data.user_id }}{% else %}0{% endif %};
                                    </script>

                                    {% if not is_pjax %}
                                        <script>
                var site_url = '{{ site_url }}';
                var base_url = '{{ base_url }}';
                var img_folder = '{{ img_folder }}';
                var site_error_position = 'center';
                var use_pjax = 0;
                var pjax_container = '#pjaxcontainer';
                                        </script>

                                        {% helper utils.jscript('', 'jquery.js', '', 'sync') %}
                                        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                                        {% helper utils.jscript('', 'jquery.pjax.js', '', 'sync') %}
                                        {% helper utils.jscript('', 'functions.js') %}
                                        {% helper utils.jscript('', 'nprogress/nprogress.min.js') %}
                                        {% helper utils.jscript('', 'errors.js') %}
                                        {% helper utils.jscript('', 'loading_content.js') %}
                                        {% helper utils.jscript('', 'pginfo.js') %}
                                        {% helper utils.jscript('', 'alerts.js') %}
                                        {% helper utils.jscript('', 'notifications.js') %}
                                        {% helper seo_advanced.seo_traker('top') %}
                                        {% helper start.analytics() %}


                                        </head>

                                        <body  class="index-arundiana">

                                            {% helper start.demo_panel({type: 'user', place: 'top'}) %} 
                                            <div id="pjaxcontainer" class="hp100">

                                            {% endif %}
                                            <div id="error_block" class="hide">{% for item in _PREDEFINED.error %}{% if item.text %}{{ item.text }}<br>{% endif %}{% endfor %}</div>
                                            <div id="info_block" class="hide">{% for item in _PREDEFINED.info %}{% if item.text %}{{ item.text }}<br>{% endif %}{% endfor %}</div>
                                            <div id="success_block" class="hide">{% for item in _PREDEFINED.success %}{% if item.text %}{{ item.text }}<br>{% endif %}{% endfor %}</div>

                                            <div id="header">
                                                <section id="bg-white">
                                                    <section class="container">
                                                        <section class="noPaddings">        

                                                            <nav class="navbar navbar-default" id="navbarId">
                                                                <!-- Brand and toggle get grouped for better mobile display -->
                                                                <div class="navbar-header">
                                                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                                        <span class="sr-only">Toggle navigation</span>
                                                                        <span class="icon-bar"></span>
                                                                        <span class="icon-bar"></span>
                                                                        <span class="icon-bar"></span>
                                                                    </button>       

                                                                    <div class="b-header__logo">
                                                                        <a href="{{ site_url }}">
                                                                            {% helper start.logo({type: 'user', settings: logo_settings}) %}
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                                    <ul class="nav navbar-nav navbar-right">
                                                                        <li id="join" >
                                                                            {% helper reglang = lang.l('join_now', 'start') %}
                                                                            {% helper users.usersRegistration({'is_link': 1, 'page': 1, 'lang': reglang}) %}
                                                                        </li>
                                                                        <li id="about" >
                                                                            <a href="{{ site_root }}content/view/about-us">{% helper lang.l('about_us', 'start') %}</a>
                                                                        </li>
                                                                        <li id="contacts" >
                                                                            <a href="{{ site_root }}contact_us">{% helper lang.l('contacts', 'start') %}</a>
                                                                        </li>
                                                                        <li id="login" >
                                                                            <a onclick="{% helper start.setAnalytics('index', 'btn_sign_in') %}"  
                                                                               href="{% helper seo.seolink('users', 'login_form') %}">
                                                                                {% helper lang.l('btn_login', 'start') %}</a>
                                                                        </li>
                                                                        <li class="topnav__lang">{% helper users.users_lang_select({type: 'menu', template: 'dropdown'}) %}</li>
                                                                    </ul>
                                                                </div><!-- /.navbar-collapse -->
                                                            </nav>
                                                        </section>
                                                        <section class="col-md-1 noPaddings">  
                                                        </section>
                                                    </section>  
                                                </section>
                                            </div>

                                            <main>
                                                <div class="margin0 bg-block">
                                                    <div class="b-teaser clearfix">
                                                        <div class="sm-no-margin">
                                                            <div class="b-teaser__features th-set__index_promo_text_main">
                                                                <div class="li-search th-set__main_bg" id="orangeSearch">
                                                                    <div class="col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                                                                        <i class="fa fa-search icon-big"></i>
                                                                        <h1 class="title-block th-set__index_promo_text_main">{% helper lang.l('f_search', 'start') %}</h1>
                                                                        <p class="text-block th-set__index_promo_text_on_bg">{% helper lang.l('f_search_txt', 'start') %}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="li-winks-and-kisse th-set__header_bg" id="blueWinksAndKisses">
                                                                    <div class="col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                                                                        <i class="fa fa-venus-mars icon-big"></i>
                                                                        <h1 class="title-block th-set__index_promo_text_main">{% helper lang.l('f_winkskisses', 'start') %}</h1>
                                                                        <p class="text-block th-set__index_promo_text_on_bg">{% helper lang.l('f_winkskisses_txt', 'start') %}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="li-one-one-chat th-set__status_color_bg" id="blueChat">
                                                                    <div class="col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                                                                        <i class="fa fa-comments-o icon-big"></i>
                                                                        <h1 class="title-block th-set__index_promo_text_main">{% helper lang.l('f_chat', 'start') %}</h1>
                                                                        <p class="text-block th-set__index_promo_text_on_bg">{% helper lang.l('f_chat_txt', 'start') %}</p>
                                                                    </div>
                                                                </div>
                                                            </div><!-- b-features, col-md-6 -->
                                                        </div>
                                                    </div><!-- b-teaser -->
                                                </div>

                                                <section class="container findYourMatch" id="findYourMatch">
                                                    <div class="row">
                                                        <div class="col-md-3" id="pageHeader">
                                                            <div class="page-header">
                                                                <h1 class="title-block">{% helper lang.l('find_match', 'start') %}</h1>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="findYourMatchText">{% helper lang.l('find_match_txt', 'start') %}</div>
                                                        <aside class="col-md-3 th-set__header_bg" id="userOnline">
                                                            <h2 class="title-block">1 562 431</h2>
                                                            <p>{% helper lang.l('users_online', 'start') %}</p>
                                                            {% helper users.usersRegistration({'is_link': 1, 'page': 1, 'lang': reglang}) %}
                                                        </aside>
                                                    </div>
                                                </section>


                                                <div class="android" id="android">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="page-header">
                                                                    <h1 class="title-block th-set__status_color">{% helper lang.l('mobile_app_title_v2', 'start') %}</h1>
                                                                </div>
                                                                <p class="mobile-text">{% helper lang.l('mobile_app_txt_v2', 'start') %}</p>
                                                                {% helper mobile.mobileAppLinks({'viewtype': 'btnsBlack'}) %}
                                                            </div>
                                                            <aside class="col-md-6 noPaddings">
                                                                <img src="{{ site_root }}uploads/themes-fixed/arundiana/images/iphone.jpg" alt="" class="img-responsive">
                                                            </aside>
                                                        </div>
                                                    </div>
                                                </div>


                                                <section class="container aboutDating" id="aboutDating">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="page-header">
                                                                <h3>{% helper lang.l('about', 'start') %}</h3>
                                                            </div>
                                                            <p>{% helper lang.l('about_txt1', 'start') %}</p>
                                                            <p>{% helper lang.l('about_txt2', 'start') %}</p>
                                                            <p>{% helper lang.l('about_txt3', 'start') %}</p>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <!-- users block -->
                                                            <div id="users">
                                                                {% helper users.lastRegistered({'count':'8', 'template':'arundiana'}) %}
                                                            </div>
                                                            <!-- users block -->
                                                        </div>
                                                    </div>
                                                </section>
                                            </main>

                                            <footer>
                                                <section class="container th-set__index_footer_bg" id="footerId">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3">
                                                            <p>{% helper lang.l('help', 'start') %}</p> 
                                                            <a href="{{ site_url }}contact_us">{% helper lang.l('contact_us', 'start') %}</a><br>
                                                                <a href="{{ site_url }}site_map">{% helper lang.l('sitemap', 'start') %}</a><br>
                                                                    </div>
                                                                    <div class="col-sm-3 col-md-3">
                                                                        <p>{% helper lang.l('about_us', 'start') %}</p>
                                                                        <a href="{{ site_url }}content/view/about-us">{% helper lang.l('about_us', 'start') %}</a><br>
                                                                            <a href="{{ site_url }}news/index">{% helper lang.l('header_news', 'news') %}</a><br>
                                                                                </div>
                                                                                <div class="col-sm-3 col-md-3">
                                                                                    <p>{% helper lang.l('privacy', 'start') %}</p>
                                                                                    <a href="{{ site_url }}content/view/privacy-and-security">{% helper lang.l('privacy', 'start') %}</a><br>
                                                                                        <a href="{{ site_url }}content/view/legal-terms">{% helper lang.l('terms', 'start') %}</a><br>
                                                                                            </div>
                                                                                            <div class="col-sm-3 col-md-3">
                                                                                                <a href="{{ mobile_url }}" class="btn_tnl" data-bind="mobile">
                                                                                                    {% helper lang.l('mobile_version', 'mobile') %}
                                                                                                </a>
                                                                                            </div>
                                                                                            </div>
                                                                                            </section>
                                                                                            <section class="container copyright th-set__index_footer_bg" id="copyright">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-12">{%if DEMO_MODE %}{{ demo_copyright }}{% else %}{% helper start.getCopyright('index_page') %}{% endif %}</div>
                                                                                                </div>	
                                                                                            </section>
                                                                                            </footer>
                                                                                            </div>
                                                                                            <!-- pjaxcontainer -->
                                                                                            {% helper cookie_policy.cookie_policy_block() %}
                                                                                            {% helper languages.lang_editor() %}
                                                                                            {% helper seo_advanced.seo_traker('footer') %}
                                                                                            {% helper start.intercom() %}
                                                                                            {% helper start.amplitude() %}
                                                                                            {% helper mobile.appTopBanner() %}
                                                                                            </body>
                                                                                            </html>
