{% include '@app/header.twig' %}
<div class="landing">
    <div class="landing__form">
        <div class="landing__form-content">
            <div class="login-form">
                <div class="landing__logo">
                    <a href="{{ site_url }}operator/">
                        <img src="{{ site_root }}{{ logo_settings.path }}" border="0" alt="logo"
                                width="{{ logo_settings.width }}" height="{{ logo_settings.height }}">
                    </a>
                </div>

                <form method="post" class="form-horizontal form-label-left">
                    <div class="form">
                        <h2>{% helper lang.l('operator_header_login', 'start') %}</h2>
                        <div class="form-group">
                            <label class="control-label">
                                {% helper lang.l('field_email', 'operators') %}:</label>
                            <div>
                                <input class="form-control" type="email" value="{{ data.email|e }}" name="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                {% helper lang.l('field_password', 'operators') %}:</label>
                            <div>
                                <input class="form-control" type="password" value="" name="password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit" name="btn_login" value="1">
                                {% helper lang.l('btn_login', 'start') %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="landing__right clearfix">
        <div class="row-welcome">
            <div class="row-welcome__content">
                <span style="font-size:200px; color:#ee2c55; font-weight:bold;">
                    {% helper chatbox.geOperatorsQueueCount() %}
                </span>
            </div>
        </div>
    </div>
</div>

{% include '@app/footer.twig' %}